<footer class="site-footer">

	<div class="wrapper">

		<div class="footer-col-wrapper">
			<div class="footer-col  footer-col-1">
				<ul class="contact-list">
					<li>{{ site.title }}</li>
					<li>
						<i class="fas fa-envelope" aria-hidden="true"></i>
						<a href="mailto:{{ site.email }}" target="_blank" accesskey="e">{{ site.email }}</a>
					</li>
				</ul>
			</div>

			<div class="footer-col footer-col-2">
				<ul class="social-media-list">
					{% if site.twitter_username %}
					<li>
						<i class="fab fa-twitter" aria-hidden="true"></i>
						<a href="https://twitter.com/{{ site.twitter_username }}" rel="noopener" target="_blank" accesskey="t">
							<span class="username">Twitter</span>
						</a>
					</li>
					{% endif %} {% if site.github_username %}
					<li>
						<i class="fab fa-github" aria-hidden="true"></i>
						<a href="https://github.com/{{ site.github_username }}" rel="noopener" target="_blank" accesskey="g">
							<span class="username">GitHub</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>

			<div class="footer-col footer-col-2">
				<ul class="social-media-list">
					{% if site.linkedin_username %}
					<li>
						<i class="fab fa-linkedin"></i>
						<a href="https://linkedin.com/in/{{ site.linkedin_username }}" rel="noopener" target="_blank" accesskey="l">
							<span class="username">LinkedIn</span>
						</a>
					</li>
					{% endif %} {% if site.keybase_username %}
					<li>
						<i class="fab fa-keybase" aria-hidden="true"></i>
						<a href="https://keybase.io/{{ site.keybase_username }}" rel="noopener" target="_blank" accesskey="k">
							<span class="username">Keybase</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>

	</div>

</footer>

{% include cookie-consent.html %}