<head>
	<meta charset="utf-8">
	<meta http-equiv="cleartype" content="on">
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="True">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<!-- Site Information -->
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<meta name="description" content="{{ site.description }}">

	<!-- Twitter Card -->
	<meta property="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	<meta property="twitter:site" content="{{ site.twitter_username }}">
	{% if page.content %}
	<meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
	{% else %}
	<meta name="twitter:description" content="{{ site.description }}">
	{% endif %}
	<meta property="twitter:image" content="https://anthonyvadala.me/images/profile_picture.jpg">

	<!-- Open Graph -->
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	{% if page.content %}
	<meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
	{% else %}
	<meta property="og:description" content="{{ site.description }}">
	{% endif %}
	<meta property="og:image" content="https://anthonyvadala.me/images/profile_picture.jpg">

	<!-- Security Headers -->
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> <!-- comment out when testing locally -->

	<!-- RSS Feed-->
	<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

	<!-- CSS Style Sheet -->
	{% if page.title contains 'Anthony Vadala - About' }} %}
		<link rel="stylesheet" href="{{ "/css/about.css " | prepend: site.baseurl }}">
	{% else %}
		<link rel="stylesheet" href="{{ "/css/blog.css " | prepend: site.baseurl }}">
	{% endif %}
	</head>