<header class="site-header">

	<!-- Responsive Menu -->
	<nav>
		<ul class="topnav" id="myTopnav">
			<li {% if page.title contains 'Anthony Vadala - About' }} %}class="active"{% endif %}>
				<a href="/" rel="noopener" accesskey="h">AnthonyVadala.me</a>
			</li>
			<li {% if page.title contains 'Anthony Vadala - Blog' %}class="active"{% endif %}>
					<a href="/blog" rel="noopener" accesskey="b">Blog</a>
					</li>
			<li {% if page.title contains 'Anthony Vadala - Archive' %}class="active"{% endif %}>
				<a href="/archive" rel="noopener" accesskey="a">Archive</a>
			</li>
			<li class="icon">
				<a href="javascript:void(0);" style="font-size:1em;" onclick="menuFunction()" accesskey="m">
					<i class="fas fa-stream" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</nav>

	<!-- JS For Responsive Menu -->
	<script>
		function menuFunction() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
		}
	</script>
	
</header>