// Base CSS
// Reset Basic Elements
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
	margin: 0;
	padding: 0;
}


// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1.1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


// Basic Styling
html,
body {
	height: 100%;
}

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: 300;
	color: $text-color;
	background-color: $background-color;
	-webkit-text-size-adjust: 100%;
	display: flex;
	flex-direction: column;
}


strong {
	font-weight: bold;
}


// Set `margin-bottom` to maintain vertical rhythm
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
	margin-bottom: $spacing-unit / 2;
}


// Lists
ul,
ol {
	margin-left: $spacing-unit;
}

li {
	ul,
	ol {
		margin-bottom: 0;
	}
}


// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}


// Links
a {
	color: $brand-color;
	text-decoration: none;
	transition: color 1.5s linear;
	&:visited {
		color: $brand-color;
	}
	&:hover {
		color: $brand-color;
		text-decoration: underline;
		transition: color 1.5s linear;
	}
}

.wrapper a {
	text-decoration: underline dotted $brand-color;
	transition: color 1.5s linear;
	&:visited {
		color: $brand-color;
	}
	&:hover {
		text-decoration: underline $brand-color;
		transition: color 1.5s linear;
	}
}

.wrapper .post-title a {
	color: $brand-color;
	text-decoration: none;
	transition: color 1.5s linear;
	&:visited {
		color: $brand-color;
	}
	&:hover {
		color: $brand-color;
		text-decoration: underline;
		transition: color 1.5s linear;
	}
}


// Wrapper
.wrapper {
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-unit;
	padding-left: $spacing-unit;
	@extend %clearfix;
	@include media-query($on-laptop) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
		max-width: calc(#{$content-width} - (#{$spacing-unit}));
		padding-right: $spacing-unit / 2;
		padding-left: $spacing-unit / 2;
	}
}


// Clearfix
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


// Footer
.site-footer a {
	color: $grey-color-light;
	text-decoration: none;
	transition: color 1s linear;
	&:visited {
		color: $grey-color-light;
	}
	&:hover {
		color: $grey-color-light;
		text-decoration: underline;
		transition: color 1s linear;
	}
}


// Images
img {
	max-width: 100%;
	vertical-align: middle;
}


// Figures
figure img {
	display: block;
}

figcaption {
	font-size: $small-font-size;
}


// Blockquotes
blockquote {
	color: $grey-color;
	border-left: 4px solid $grey-color-light;
	padding-left: $spacing-unit / 2;
	font-size: 18px;
	letter-spacing: -1px;
	font-style: italic;
	:last-child {
		margin-bottom: 0;
	}
}


// Code Formatting
pre,
code {
	font-size: 15px;
	border: 1px solid $grey-color-light;
	border-radius: 3px;
	background-color: $grey-color-light;
}

code {
	padding: 1px 5px;
}

pre {
	padding: 8px 12px;
	overflow-x: scroll;
	code {
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
}


// Keyboard Formatting
kbd {
	display: inline-block;
	margin: 0 .1em;
	padding: .1em .6em;
	line-height: 1.4;
	text-shadow: 0 1px 0 $white;
	background-color: $grey-color-light;
	border: 1px solid $grey-color-light;
	border-radius: 3px;
	box-shadow: 0 1px 0 $grey-color-light,0 0 0 2px $white inset;
	white-space: nowrap;
}


// Dark Theme
@media (prefers-color-scheme: dark) {
	// Basic Styling
	body {
		color: $text-color-darktheme;
		background-color: $background-color-darktheme;
	}


	// Links
	a {
		color: $text-color-darktheme;
		&:visited {
			color: $text-color-darktheme;
		}
		&:hover {
			color: $text-color-darktheme;
		}
	}

	.wrapper a {
		text-decoration: underline dotted $text-color-darktheme;
		&:visited {
			color: $text-color-darktheme;
		}
		&:hover {
			text-decoration: underline $text-color-darktheme;
		}
	}
	
	.wrapper .post-title a {
		color: $text-color-darktheme;
		&:visited {
			color: $text-color-darktheme;
		}
		&:hover {
			color: $text-color-darktheme;
		}
	}


	// Footer
	.site-footer a {
		color: $grey-color-light;
		&:visited {
			color: $grey-color-light;
		}
		&:hover {
			color: $grey-color-light;
		}
	}


	// Blockquotes
	blockquote {
		color: $grey-color;
		border-left: 4px solid $grey-color-light;
	}


	// Code Formatting
	pre,
	code {
		border: 1px solid $brand-color;
		background-color: $brand-color;
	}


	// Keyboard Formatting
	kbd {
		text-shadow: 0 1px 0 $white;
		background-color: $brand-color;
		border: 1px solid $brand-color;
		box-shadow: 0 1px 0 $brand-color,0 0 0 2px $white inset;
	}
}