// Profile Projects Section Styling
// Small Screen Styling
@media screen and (min-width: 0px) {
	// Basic Projects Formating
	p {
		line-height: 1.2;
		margin-left: 15px;
	}
	i {
		font-style: italic;
	}
	b {
		font-weight: bold;
	}
	.content {
		padding-left: 0%;
		padding-right: 0%;
	}
	.section-header {
		font-size: 1.5em;
		color: $text-color;
		font-weight: bold;
		width: 100%;
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
		font-family: $base-font-family;
	}
	.section-pad {
		padding-left: 10%;
		padding-right: 3%;
		padding-bottom: 10px;
		padding-top: 10px;
		font-size: 1.0em;
	}
	.job-pad {
		padding-bottom: 5px;
	} // List Fix
	ol {
		list-style-type: circle;
	}
	ol li {
		margin-left: 15px;
	} // Project Images
	.img-wrapper {
		display: block;
	}
	.img-wrapper img {
		display: block;
		width: 100%;
		align-content: center;
		opacity: 0.7;
		transition: opacity 1.0s ease-in-out;
		-moz-transition: opacity 1.0s ease-in-out;
		-webkit-transition: opacity 1.0s ease-in-out;
		&:hover {
			opacity: 1.0;
			transition: opacity 1.0s ease-in-out;
			-moz-transition: opacity 1.0s ease-in-out;
			-webkit-transition: opacity 1.0s ease-in-out;
		}
	}
	.img-wrapper figcaption {
		padding-top: 10px;
		text-align: center;
	}
	.img-wrapper a {
		color: $brand-color;
		text-decoration: none;
		&:hover {
			background-color: $background-color;
			color: $brand-color;
		}
	} // Projects Sections Color Styling
	.section {
		background-color: $grey-color-light;
		height: 100%;
		width: 100%;
		text-align: left;
	}
	.skills {
		box-shadow: 10px 0px 0px 0px $skills-color inset;
	}
}

// Small to Desktop Screens
@media screen and (min-width: 1300px) {
	// Basic Projects Formating
	.section-pad {
		padding-left: 3%;
		padding-right: 3%;
	}
	.section-header {
		width: 100%;
		text-align: left;
		color: $text-color;
		font-family: $base-font-family;
	} // Project Images
	.img-wrapper {
		display: flex;
	}
	.img-wrapper img {
		display: flex;
		width: 100%;
		max-width: 480px;
		height: 300px;
		align-content: center;
	}
}