<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include head.html %}

<body data-instant-allow-external-links>

	<!-- Menu -->
	{% include menu.html %}

	<div class="page-content">
		<main>
			<div class="wrapper">
				{{ content }}
			</div>
		</main>
	</div>

	<!-- Footer -->
	{% include footer.html %}

	<!-- instant.page preloading for websites | https://instant.page/ -->
	<script src="//instant.page/1.2.2" type="module" integrity="sha384-/IkE5iZAM/RxPto8B0nvKlMzIyCWtYocF01PbGGp1qElJuxv9J4whdWBRtzZltWn"></script>

</body>

</html>