<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include head.html %}

<body data-instant-allow-query-string>

	<!-- Menu -->
	{% include menu.html %}

	<div class="page-content">
		<main>
			<div class="wrapper">
				{{ content }}
			</div>
		</main>
	</div>

	<!-- Footer -->
	{% include footer.html %}

	<!-- instant.page preloading for websites | https://instant.page/ -->
	<script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>

</body>

</html>